@tailwind base;
@tailwind components;
@tailwind utilities;
/* Ẩn nút tăng giảm trong input type="number" */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Ẩn cho Firefox */
}
